/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body{ font-family: 'Poppins', sans-serif; }

/* HEADER */

header{background-image: linear-gradient(#000000 10%, #2c3e50 74%); ; }

nav{ display: flex; justify-content: center; }
.navbar{ display: flex; justify-content: space-between; Width :1160px; margin: 42px 0 ; align-items: center; }
.nav-links{ padding: 10px;}
.menu{ text-decoration: none; color:  #FFFFFF; padding:0 35px; }
.menu:hover{ border: 3px solid #04619f; padding: 12px 12px;}
.header{ display: flex; justify-content: space-around; align-items: center; margin: 50px 120px 0 180px; padding: 0 0 115px 0; }
.buttons{ color: #FFFFFF; background-color: #E02C6D; text-decoration: none; padding: 10px 25px; }
.header-button{ margin: 25px 0 0 0; }
.buttons:hover { background-color: lightseagreen; }
.header-text{ width: 530px; height: 438px;}
.header-font{ font-weight: 700; font-size: 64px; color: #FFFFFF; }
.header-img img{ width: 530px; height: 438px; }
.header-img:hover{ transform: rotate(21deg); transform-origin: top; transition: transform 0.8s ease-in;}

/* MAIN SECTION */

.players{ display: flex; justify-content: center; margin: 70px 0; }
.players-grid{ display: grid; grid-template-columns: repeat(3,1fr); grid-gap: 30px; }
.player{ width: 330px; padding: 15px; border: 3px solid #FFFFFF; box-shadow: 0px 0px 40px rgba(0,0,0,.15); }
.player:hover{ background-color: lightgray;}
.player img{ width: 100%; }
.player-name{ font-weight: 700; font-size: 28px; }

/* ANIME */

.anime{
    display: flex;
    justify-content: space-around;
}

.anime-h1{
    font-size: 70px;
    color: cadetblue;
}

.ayhy:hover{
 transform: rotate(360deg);
transition: transform 10s ;
}
/* 
CONTACT BOX */

.contact{
    margin: 150px 0 100px 0;
    display: flex;
    justify-content: center;
}
.contact-box{
    padding: 60px 100px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
;
}
.contact-img img{
    width: 300px;
    height: 250px;
}
.form-title{
    font-size: 22px;
    margin: 0 0 5px 5px;
}
.form-bar{
    margin: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 300px;
}
.form-button{
    border-radius: 1px solid red;
    background-color: red;
    color: #FFFFFF;
}

/* FOOTER */

 footer{
    display: flex;
    justify-content: center;
}

.footer-box{
   width: 483.87px;
   height: 213px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 50px 0 65px 0;
}
.footer-logo-img{
   width: 483.87px;
   height: 213px;
}
.footer-logo-img img{
    width: 100%;
}
.footer-icons{
    margin: 0 0 20px 0;
}
.icon{
    color:  #0B0D17;
    padding:   7px;
    border-radius: 25px;}

/*  MEDIA QUARIES  */

/* mobile device  */

@media only screen and (max-width:688px) {

    
    

    
    
     .anime, .header, .nav-links, .header-text, .header-img{ flex-direction: column;}

     
     /* HEADER */
      .details{padding-bottom: 15px; font-size: 30px;}
      .ticket{padding-top: 25px; padding-left: 35px;}
      .header-font{font-size: 45px; padding-left: 50px; padding-right: 5px;}
      .header-button{padding-left: 50px;}

      /* HEADER IMAGE */
      .header-img {  width: 250px;
        height: 270px;  }
      .header-img img{width: 265px;
        height: auto;
        margin: 0 0 60px 0;}

      /* PLAYERS */

      .players{width: 100%;}
       .players-grid, .anime{
           grid-template-columns: repeat(1,1fr);
            align-items: center;
       }

       /* CONTACT BOX */
       .contact{
        width: 100%;
    }
    .contact-box{
        width: 290px;
        flex-direction: column;
    }
    .contact-img img{
        width: 210px;
        height: 200px;}

      /* FOOTER */
      .footer-logo-img{ width: 80%;}
      .pic{width: 100%;}

   
    }
       

     